* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#eac4ff, #9e57c5);
  overflow: hidden;
}
.stairs {
  position: relative;
  width: 500px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(160deg);
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.stairs .base {
  position: absolute;
  top: 0;
  left: 60px;
  width: 360px;
  height: 300px;
  background: #000;
  transform: rotateX(90deg) translateZ(-150px);
}
.stairs .step {
  position: absolute;
  left: calc(60px * var(--j));
  bottom: 0;
  width: 60px;
  height: calc(60px * var(--j));
  background: #f00;
  transform-style: preserve-3d;
}
.stairs .step::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 300px;
  background: #cf8df1;
}
